.menu-profile {
  ul {
    display: flex;
    padding: 15px 0;
    gap: 12px;
    border-bottom: 1px solid green;
    li {
      text-transform: capitalize;
      cursor: pointer;
    }
    .tab-selected {
      color: #F21A05;
      ;
    }
  }
}
