@import "../../styles/variables";

.wrapper-profile {
  display: flex;
  .main {
    width: 100%;
    .div-header {
      padding: 20px 20px;
      height: 60px;
      border-bottom: 1px solid #EBEFF2;
      box-sizing: border-box;
    }
    .profile {
      padding: 30px 20px 20px;
      .title-profile {
        font-family: Epilogue;
        font-size: 24px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.03em;
        text-align: left;
        color: var(--blue-600, #081B4E);
        .divisor-title {
          color: var(--orange-500, #F43724);
        }
        .name-title {
          font-weight: 300;
          color: var(--gray-500, #777777);
        }
      }
      .content-tab {
        margin-top: 25px;
        .tab-geral {
          box-shadow: 6px 0px 18px 0px #0000000F;
          padding: 30px;
          border-radius: 15px;
          display: block;
          text-align: center;
          img {
            width: 90px;
            height: 90px;
            border-radius: 50%;
          }
          .text-tab-geral {
            font-family: Epilogue;
            line-height: 25px;
            letter-spacing: -0.03em;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .text-name {
              font-size: 24px;
              font-weight: 700;
              color: var(--blue-600, #081B4E);
            }
            .text-description {
              font-size: 16px;
              font-weight: 600;
              letter-spacing: -0.03em;
              color: #717171;
            }
          }
        }
        ul {
          padding: 0 20px;
          overflow: auto;
          max-height: calc(100vh - 260px);
          li {
            color: #667085;
            list-style: initial;
            font-family: Inter;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0em;
          }
        }
      }
    }
  }
}

@media #{$breakpoint-small} {
  .wrapper-profile {
    .main {
      .profile {
        padding: 40px 10px 20px 30px;
        .content-tab {
          .tab-geral {
            display: flex;
            text-align: left;
            gap: 30px;
          }
        }
      }
    }
  }
}