
:root {
  // Colors
  --white: #FFFFFF; // R255 G255 B255
  --black: #000000; // R0 G0 B0
  --divider: #EBEFF2; // R235 G239 B242
  --blue-800: #00113D; // R0 G17 B61
  --blue-600: #213770; // R33 G55 B112
  --blue-200: #747D94; // R116 G125 B148
  --orange-500: #F21A05; // R242 G26 B5
  --orange-400: #F43724; // R244 G55 B36
  --gray-background: #F5F6F8; // R245 G246 B248
  --gray-100: #EAECF0; // R234 G236 B240
  --gray-500: #777777; // R119 G119 B119
  --gray-c3: #C3C3C3; // R195 G195 B195

  // Fonts
  --font-primary: 'Epilogue', sans-serif;
  --font-secondary: 'Inter', sans-serif;
}

// Breakpoints
$breakpoint-xxlarge: "only screen and (min-width: 1358px)";
$breakpoint-xlarge: "only screen and (min-width: 1200px)";
$breakpoint-large: "only screen and (min-width: 1024px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-small: "only screen and (min-width: 390px)";
